streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-google-genai
langchain-qdrant
langchain-huggingface

google-generativeai

qdrant-client

sentence-transformers
transformers
huggingface-hub

youtube-transcript-api

FlagEmbedding

rank-bm25

numpy